<div class="container" >
    <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5" style="background-color: #212529">

        <ul class="float-left list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10 toplink">
            <li>
                <a class="pl-0 pl-sm-10" href="#">Về chúng tôi</a>
            </li>
            <li>
                <a href="#">Liên hệ</a> 
            </li>
            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Admin Panel", "Index", "Admin", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-link" })</li>
            }
        </ul>
        <div class="d-inline-block float-right mt-2 mr-4">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { metaTag = ViewBag.metaTag }))
            {
                <input type="text" name="metaTag" value="@ViewBag.metaTag" placeholder="Tìm kiếm" class="mr-2 txtSearch" />
               
                <button class="text-white" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            }
        </div>
      
    </div>
</div>

